{% extends 'base.html' %}

{% block title %}
Delete Note
{% endblock %}

{% block content %}

<div class="container mt-5">

    <div class="card shadow">

        <div class="card-body text-center">

            <h3>Delete Note</h3>

            <p>Are you sure you want to delete:</p>

            <h4>{{ note.title }}</h4>

            <form method="POST">

                {% csrf_token %}

                <button class="btn btn-danger">
                    Delete
                </button>

                <a href="{% url 'dashboard' %}" class="btn btn-secondary">
                    Cancel
                </a>

            </form>

        </div>

    </div>

</div>

{% endblock %}